@page "/"

@using SCDFrontend.DataAccess;
@using SCDFrontend.Models;


<head>
</head>
<h1>Installations</h1>
<hr />

<div>
    @if (Installations is not null)
    {
        <InstallationList Installations=@Installations/>
    }
    else
    {
        <h1><em>Loading...</em></h1>
    }
</div>

<button type="button" class="btn btn-dark" @onclick="@(() => LoadInstallations())">Refresh</button>


@code {
    public List<Installation> Installations { get; set; }

    // Load data from database
    public async Task<List<Installation>> LoadInstallations()
    {
        return await ApiConnector.GetInstallations();
    }

    protected override async Task OnInitializedAsync() // run as page loads yis *<|:-)
    {
        Installations = await LoadInstallations();
    }
}
